# ignore PHPStorm extra directories
.idea/

# OS specific files
.DS_Store

# Leave node_modules from git
node_modules/

# sass cache
.sass-cache

# ignore PHPCS report files
phpcs-summary.log
phpcs-full.log

# Org Package
*.zip

# Ignore Composer's directories
vendor/