#bsf-optin-notice {
    padding: 1px 12px;
    border-right-color: #007cba;
}

#bsf-optin-notice .notice-container {
    padding-top: 10px;
    padding-bottom: 12px;
}

#bsf-optin-notice .notice-content {
    margin: 0;
}

#bsf-optin-notice .notice-heading {
    padding: 0 0 12px 20px;
}

#bsf-optin-notice .button-primary {
    margin-left: 5px;
}